<template>
    <v-dialog
        v-model="hide"
        max-width="500px"
      >
        <v-card>
          <v-card-title>
            Creating a new Task
          </v-card-title>
          <v-card-text>
            <v-form
    ref="form"
    v-model="valid"
    lazy-validation
  >
    <v-text-field
      v-model="title"
      :counter="4"
      :rules="nameRules"
      label="Title"
      required
    ></v-text-field>

    <v-btn
      :disabled="!valid"
      color="success"
      class="mr-4"
      @click="createTask"
    >
      Create Task
    </v-btn>

    <v-btn
      color="error"
      class="mr-4"
      @click="reset"
    >
      Reset Form
    </v-btn>

  </v-form>
            
          </v-card-text>
          <v-card-actions>
            <v-btn
              color="primary"
              text
              @click="hideDialog"
            >
              Close
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
</template>

<script>

export default {
  name: 'AddTask',

  props: {
      showDialog: Boolean,
  },

  data: () => ({
      
      valid: true,
      title: '',
      nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length >= 4) || 'Name must not be less than 4 characters',
      ],
  }),

  computed: {
      hide: {
            get: function() {
                return this.showDialog;
            },

            set: function() {
                
            }
        }
     
  },

  methods: {
      hideDialog() {
          this.hide = false;
      },

      createTask() {
          this.$refs.form.validate();
          this.$emit('create-new-task', this.title)
      },
      
      reset () {
        this.$refs.form.reset()
      },
    },
  
};
</script>