<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        <v-img
          src="https://www.windsor-telecom.co.uk/wp-content/themes/windsor-telecom/_dist/img/logo/windsor_telecom.svg"
          class="my-3"
          contain
          height="80"
        />
      </v-col>

      <v-col class="mb-4">
        <h1 class="display-2 font-weight-bold mb-3">
          The Todos App
        </h1>

        <p class="subheading font-weight-regular">
          Use this simple tool to manage your daily todos
          
        </p>
      </v-col>
    </v-row>
    <v-card
      class="mx-auto"
      max-width="500"
    >
      <v-toolbar
        color="blue"
        dark
      >
        <v-toolbar-title>Todos</v-toolbar-title>

        <v-spacer></v-spacer>
        <v-text-field
        @keyup="filterTodos"
        v-model="search"
        label="Search Todos"
        dark
        flat
        solo-inverted
        hide-details
        clearable
        clear-icon="mdi-close-circle-outline"
      ></v-text-field>

        <v-btn
          color="primary"
          class="ma-2"
          dark
          @click="showNewTask = true"
        >
          Add Task
        </v-btn>
      </v-toolbar>

      <v-list two-line>
        <v-list-item-group
          v-model="selected"
          active-class="pink--text"
          multiple
        >
          <template v-for="(task, index) in todos">
            <v-list-item :key="task.title">
              <template v-slot:default="">
                
                <v-list-item-content>
                  <v-list-item-title v-text="task.title"></v-list-item-title>

                </v-list-item-content>

                <v-list-item-action>
                  <v-list-item-action-text v-text="task.completed"></v-list-item-action-text>

                  <v-btn text color="primary" @click="editTask(task)"> Edit
                    <v-icon color="grey lighten-1">
                      mdi-information
                    </v-icon>
                  </v-btn>

              <v-btn colour="danger" @click="deleteTask(task)"> Delete
                <v-icon color="grey lighten-1">
                  mdi-information
                </v-icon>
              </v-btn>
              
                </v-list-item-action>
              </template>
            </v-list-item>

            <v-divider
              v-if="index < todos.length - 1"
              :key="index"
            ></v-divider>
          </template>
        </v-list-item-group>
      </v-list>

      <v-dialog
          v-model="showNewTask"
          max-width="500px"
        >
          <v-card>
            <v-card-text>
              <v-text-field label="Add Task"
              v-model="title"
              :counter="4"
              :rules="nameRules"
              required
              ></v-text-field>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>

              <v-btn
                text
                :disabled="!valid"
                color="primary"
                @click="showNewTask=false"
              >
                Close
              </v-btn>

              <v-btn
                text
                :disabled="!valid"
                color="primary"
                @click="createTask"
              >
                Submit
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-dialog
          v-model="showEditor"
          max-width="500px"
        >
          <v-card>
            <v-card-text>
              <v-text-field label="Edit Task"
              v-model="task.title"
              :counter="4"
              :rules="nameRules"
              required
              ></v-text-field>

              <v-checkbox
                v-model="task.completed"
                :label="`Completed: ${task.completed.toString()}`"
              ></v-checkbox>

            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>

              <v-btn
                text
                :disabled="!valid"
                color="primary"
                @click="showEditor=false"
              >
                Close
              </v-btn>
              <v-btn
                text
                :disabled="!valid"
                color="primary"
                @click="updateTask"
              >
                Submit
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
  </v-card>
  <!-- <AddTask :show-dialog="showNewTask"  v-on:create-new-task="createTask" /> -->
  </v-container>
</template>

 <script>
//   import AddTask from './AddTask'
  export default {

    name: 'HelloWorld',

    components: {
      // AddTask,
    },

    data: () => ({
      valid: true,
      title: '',
      nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length >= 4) || 'Name must not be less than 4 characters',
      ],
      apiServer: 'https://jsonplaceholder.typicode.com',
      selected: [],
      search: '',
      showNewTask: false,
      showEditor: false,
      userId: 1,    
      task: {
        id: '',
        userId: '',
        title: '',
        completed: false
      },
      todos: []
    }),

    computed: {

      todosApiEndpoint: {
        get: function() {
          return `${this.apiServer}/user/${this.userId}/todos?limit=10`;
        },

        set: function(val) {
          return val;
        }
      } ,

    },

    methods: {
      viewTodos() {
        fetch(this.todosApiEndpoint)
        .then( res => res.json())
        .then( data => {
          this.todos = data.reverse();

          localStorage.todos = JSON.stringify(this.todos);
        })
      
      },

      createTask(){
        this.showNewTask = false;
        this.task.id = this.todos.length + 1;
        this.task.title = this.title;
        this.task.userId = this.userId;

        fetch('https://jsonplaceholder.typicode.com/todos', {
            method: 'POST',
            body: JSON.stringify(this.task),
            headers: {
              'Content-type': 'application/json; charset=UTF-8',
            },
          })
            .then((res) => res.json())
            .then((data) =>  {
                this.todos.push(data);
                localStorage.todos = JSON.stringify(this.todos);
            });
      },

      editTask(task) {
        this.showEditor = true;
        this.task = task;
      },

      updateTask() {
        this.showEditor = false;

        fetch(`https://jsonplaceholder.typicode.com/todos/${this.task.id}`, {
          method: 'PATCH',
          body: JSON.stringify({
            title: this.task,
            completed: this.task.completed
          }),
          headers: {
            'Content-type': 'application/json; charset=UTF-8',
          },
        })
          .then((res) => res.json())
          .then((data) => {
            console.log(data);
            localStorage.todos = JSON.stringify(this.todos);
          })
      },

      deleteTask(task) {

        const taskIdx = this.todos.indexOf(task);
        this.todos.splice(taskIdx, 1);

        localStorage.todos = JSON.stringify(this.todos);
        
        fetch(`https://jsonplaceholder.typicode.com/todos/${task.id}`, {
          method: 'DELETE',
        }).then((res) => res.json())
          .then((data) => {
            if(!data) {
              alert('Successfully deleted task')
            }
          })
      },

      filterTodos () {
        if (this.search.length == 0) {
          this.todos = JSON.parse(localStorage.todos);
          return;
        }

        if (this.search.length > 2) {

          const filtered = this.todos.filter((task) => {
              if (task.title.toLowerCase().includes(this.search)) return true;
            });

            if (filtered.length > 0) {
              this.todos = filtered

            } else {
              this.todos = JSON.parse(localStorage.todos);
            }
        }
      }

    },

    mounted() {
      this.viewTodos();
    }
  }
</script>
